@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
}

.markdown-preview {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}
